.b-radius{
    border-radius: 50%;
    border: solid 8px #fffffffe;
    position: absolute;
    left: 43%;
    top: 50%;
}
.name{
    position: absolute;
    left: 35%;
    top: 170%;
}

.back{
    position: relative;
    width:100%; 
    height:200px;
    background-image: url(../../sources/back-poke.png);
}